

<p>
<% @comments.each do |comment|%><br><li>
   Name: <%= comment.name %><br>
   Username: <%= comment.username %><br>
   Body: <%= comment.body %><br>
  
   Comment ID: <%=comment.id %>

    
    <% end %>
    </li></p><br>