
<p>
<% @users.each do |user|%><br><li>
   Name: <%= user.name %><br>
   Username: <%= user.username %><br>
   Bio: <%= user.bio %><br>
   Password: <%= user.password_digest %><br>

    
    <% end %>
    </li></p><br>